.header {
  padding: 24px 0;
  &__logo {
    display: flex;
    align-items: flex-end;
    min-height: 28px;
  }
  &__text {
    margin-left: 8px;

    &[active="active"] {
      cursor: pointer;
    }
  }
}
