@import "/styles/variables";

.card {
  width: 100%;
  // min-height: 154px;
  background-color: $orange-02;
  padding: 48px 42px;
  border-radius: 24px;
  color: $orange;
}
.card[color="gray"] {
  color: $dark-02;
  background-color: $dark-01;
}
.icon {
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
}
.text {
  // margin-top: 10px;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 0;
}
.footer {
  margin-top: 24px;
  color: $orange-01;
}
.card[color="gray"] {
  .footer {
    color: rgba(67, 67, 107, 0.6);
  }
}
