@import "/styles/variables";

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(243, 243, 251, 0.7);
  backdrop-filter: blur(12px) opacity 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.popupContentWrap {
  animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.3);
  border-radius: 32px;
  padding: 95px 0;
  display: flex;
  justify-content: center;
}
.popupCloseButton {
  cursor: pointer;
  position: absolute;
  top: 32px;
  right: 32px;
  color: $dark-03;
  font-size: 24px;
  line-height: 1;
}
@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
