@import "/styles/variables";

.news {
  padding: 32px;
  background: $orange-02;
  border-radius: 24px;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.news[gray="gray"] {
  background: $dark-04;
}
.avatar {
  margin-right: 16px;
}
.name {
  color: $dark;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}
.text {
  font-size: 16px;
  line-height: 24px;
  color: $dark;
}
