@import "/styles/variables";

.button {
  font-family: CeraPro;
  font-weight: 400;
  font-size: 20px;
  // line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: $purple-02;
  border: 2px solid $purple-02;
  padding: 8px 22px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out;

  &:hover {
    background: rgba(202, 201, 255, 0.5);
    color: $purple-hover;
    border-color: $purple-hover;
  }

  &:active {
    background: rgba(202, 201, 255, 0.8);
    color: $purple-press;
    border-color: $purple-press;
  }

  &[disabled="disabled"] {
    user-select: none;
    pointer-events: none;
    cursor: not-allowed;
    border-color: $dark-05;
    color: $dark-05;
  }
}
.button.special {
  background: $purple;
  border-radius: 8px;
  color: #ffffff;
  border: 2px solid transparent;
  padding: 15.5px 37.5px;
  &:hover {
    border: 2px solid $purple-02;
    background: transparent;
    color: $purple-02;
  }
}
