.thumbnailSliderWrap {
  margin-top: 40px;
  // height: 85px;
}
.slickSlide {
  text-align: center;
}
.sliderWrapper {
  .slickSlide img {
    border: 2px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 16px;
  }
}
.thumbnailSliderWrap {
  .slickSlide img {
    width: 213px;
    border: 1px solid #d5d5e2;
    border-radius: 8px;
    outline: none;
  }
}
