.thumbnailSliderWrap {
  margin-top: 40px;
  // height: 85px;
  @media (max-width: 767.98px) {
    margin-top: 16px;
  }
}
.slickSlide {
  text-align: center;
}
.sliderWrapper {
  .slickSlide img {
    border: 2px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 16px;
    width: 100%;
    @media (max-width: 767.98px) {
      width: 100%;
    }
  }
}
.thumbnailSliderWrap {
  height: 111px;
  overflow: hidden;
  @media (max-width: 1200px) {
    height: 70px;
  }
  @media (max-width: 767.98px) {
    height: 50px;
  }
  .slickSlide img {
    cursor: pointer;
    width: 90%;
    max-width: 213px;
    border: 1px solid #d5d5e2;
    border-radius: 8px;
    outline: none;
    height: 111px;
    @media (max-width: 1200px) {
      height: 70px;
    }
    @media (max-width: 767.98px) {
      height: 50px;
    }
  }
}
