@import "/styles/variables";

.chip {
  font-family: CeraPro;
  border: none;
  padding: 8px 16px;
  background-color: $dark-04;
  border-radius: 16px;
  color: #a4aab7;
  font-size: 24px;
  line-height: 30px;
  transition: background-color 0.33s ease-in-out, color 0.33s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  &:hover {
    background-color: #ecebff;
    color: $purple-active;
    @media (hover: none) {
      background: $dark-04;
      color: #a4aab7;
    }
  }
  span {
    display: inline-flex;
    align-items: center;
  }
  img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    fill: red;
  }

  @media (max-width: 991.98px) {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.chip[active="active"] {
  background-color: #ecebff;
  color: $purple-active;
}

.icon {
  display: inline-flex;
  margin-right: 8px;
  svg {
    min-width: 18px;
    min-height: 18px;
    // width: 18px;
    // height: 18px;
  }
}
