@import "/styles/variables";

.card {
  box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.3);
  transition: box-shadow 0.32s ease-in-out;
  border-radius: 24px;
  padding: 32px;
  height: 100%;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.5);
  }
}
.cardText {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.logoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.logo {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(213, 213, 226, 0.5);
    border-radius: 16px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.firstLogo {
  margin-top: -18px;
  transform: rotate(-15deg);
}
.secondLogo {
  margin-top: 18px;
  transform: rotate(15deg);
}
.vs {
  position: absolute;
  z-index: 1;
}
.empty {
  background: $light;
}
