@import "/styles/variables";

.toolCard {
  cursor: pointer;
  padding: 32px;
  color: $dark;
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.3);
  border-radius: 40px;
  position: relative;
  max-width: 600px;
  height: 100%;
  transition: box-shadow 0.3s ease-in-out;
  margin: 0 auto;

  @media (max-width: 767.98px) {
    padding: 24px;
  }

  &:hover {
    box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.5);
  }

  &__logo {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(213, 213, 226, 0.5);
    border-radius: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    margin: 0 0 0 16px;
  }

  &__developer {
    color: $dark-03;
  }

  &__description {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    max-width: 424px;
    min-height: 48px;
    margin-top: 24px;
    margin-bottom: 48px;
    @media (min-width: 1200px) and (max-width: 1400px) {
      max-width: 400px;
    }
    @media (min-width: 767.98px) and (max-width: 1200px) {
      max-width: 290px;
    }
    @media (max-width: 767.98px) {
      margin-bottom: 16px;
      margin-top: 16px;
    }
  }

  &__achievement {
    position: absolute;
    right: 32px;
    top: 32px;
    @media (max-width: 767.98px) {
      right: 0;
      top: 0;
      transform: scale3d(0.5, 0.5, 0.5);
    }

    &__icon {
      width: 104px;
      height: 104px;
    }
  }
}

.features {
  color: $dark-03;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 5px;
  min-width: 94px;
  margin-right: 40px;
  &__text {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
  }
  @media (max-width: 1400px) {
    margin-right: 20px;
  }
  @media (max-width: 767.98px) {
    margin-right: 40px;
  }
}
.github {
  display: flex;
  align-items: center;
  .icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}
.language {
  display: flex;
  align-items: center;
  &__wrapper {
    display: flex;
    align-items: center;
  }
  .icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
}
.framework {
  display: flex;
  align-items: center;
  &__wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 767.98px) {
      margin-bottom: 8px;
    }
  }
  .icon {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
}

.toolCard[shadow="well-documented"] {
  box-shadow: 16px 24px 80px rgba(255, 133, 95, 0.3);
  &:hover {
    box-shadow: 16px 24px 80px rgba(255, 133, 95, 0.5);
  }
}
.toolCard[shadow="easy-to-start-with"] {
  box-shadow: -16px 24px 80px rgba(66, 204, 173, 0.3);
  &:hover {
    box-shadow: -16px 24px 80px rgba(66, 204, 173, 0.5);
  }
}
.toolCard[shadow="full-fledged"] {
  box-shadow: 0px 24px 80px rgba(255, 124, 226, 0.4);
  &:hover {
    box-shadow: 0px 24px 80px rgba(255, 124, 226, 0.5);
  }
}
.toolCard[shadow="easy-to-customize"] {
  box-shadow: 0px 24px 80px rgba(115, 159, 243, 0.4);
  &:hover {
    box-shadow: 0px 24px 80px rgba(115, 159, 243, 0.5);
  }
}
.toolCard[shadow="very-popular"] {
  box-shadow: 0px 24px 80px rgba(255, 194, 123, 0.4);
  &:hover {
    box-shadow: 0px 24px 80px rgba(255, 194, 123, 0.5);
  }
}
.toolCard[shadow="gray"] {
  box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.3);
  &:hover {
    box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.5);
  }
}
