@import "/styles/variables";

.toolCard {
  cursor: pointer;
  padding: 32px;
  color: $dark;
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.3);
  border-radius: 40px;
  position: relative;
  max-width: 600px;
  height: 100%;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.5);
  }

  &__logo {
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    font-weight: bold;
    font-size: 26px;
    line-height: 36px;
    margin: 0 0 0 16px;
  }

  &__developer {
    display: flex;
    align-items: center;
    margin: 5px 0 0 16px;
    color: $light-dark;
    font-size: 14px;
    line-height: 18px;
    span {
      display: flex;
      align-items: center;
      margin-left: 5px;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    max-width: 424px;
    min-height: 48px;
    margin-top: 24px;
    margin-bottom: 48px;
    @media (min-width: 1200px) and (max-width: 1400px) {
      max-width: 400px;
    }
    @media (min-width: 767.98px) and (max-width: 1200px) {
      max-width: 290px;
    }
    @media (max-width: 767.98px) {
      margin-bottom: 24px;
    }
  }

  &__achievement {
    position: absolute;
    right: 32px;
    top: 32px;
    @media (max-width: 767.98px) {
      right: 0;
      top: 0;
      transform: scale3d(0.5, 0.5, 0.5);
      // margin-right: 20px;
    }
  }
}

.features {
  color: $light-dark;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 5px;
  min-width: 94px;
  margin-right: 40px;
  &__text {
    font-size: 16px;
    line-height: 24px;
  }
  @media (max-width: 767.98px) {
    margin-right: 20px;
  }
}
.github {
  display: flex;
  align-items: center;
  .icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
}
.language {
  display: flex;
  // align-items: center;
  flex-direction: column;
  &__wrapper {
    display: flex;
    align-items: center;
  }
  .icon {
    display: flex;
    align-items: center;
    margin-right: 4px;
  }
}
.framework {
  display: flex;
  // align-items: center;
  flex-direction: column;
  &__wrapper {
    display: flex;
    align-items: center;
    @media (max-width: 767.98px) {
      margin-bottom: 8px;
    }
  }
  .icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
  }
}

.toolCard[shadow="orange"] {
  box-shadow: 16px 24px 80px rgba(255, 133, 95, 0.3);
  &:hover {
    box-shadow: 16px 24px 80px rgba(255, 133, 95, 0.5);
  }
}
.toolCard[shadow="green"] {
  box-shadow: -16px 24px 80px rgba(66, 204, 173, 0.3);
  &:hover {
    box-shadow: -16px 24px 80px rgba(66, 204, 173, 0.5);
  }
}
.toolCard[shadow="pink"] {
  box-shadow: 0px 24px 80px rgba(255, 124, 226, 0.4);
  &:hover {
    box-shadow: 0px 24px 80px rgba(255, 124, 226, 0.5);
  }
}
.toolCard[shadow="blue"] {
  box-shadow: 0px 24px 80px rgba(115, 159, 243, 0.4);
  &:hover {
    box-shadow: 0px 24px 80px rgba(115, 159, 243, 0.5);
  }
}
.toolCard[shadow="yellow"] {
  box-shadow: 0px 24px 80px rgba(255, 194, 123, 0.4);
  &:hover {
    box-shadow: 0px 24px 80px rgba(255, 194, 123, 0.5);
  }
}
.toolCard[shadow="gray"] {
  box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.3);
  &:hover {
    box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.5);
  }
}
