@import "/styles/variables";

// $dark: #43436b;

.toolCard {
  color: red;
  padding: 32px;
  background: #ffffff;
  box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.3);
  border-radius: 40px;

  &__logo {
    width: 60px;
    height: 60px;
  }

  &__title {
    margin-left: 16px;
    color: $dark-02;
  }
}

.toolCard[shadow="orange"] {
  box-shadow: 16px 24px 80px rgba(255, 133, 95, 0.3);
}
.toolCard[shadow="green"] {
  box-shadow: -16px 24px 80px rgba(66, 204, 173, 0.3);
}
.toolCard[shadow="pink"] {
  box-shadow: 0px 24px 80px rgba(255, 124, 226, 0.4);
}
.toolCard[shadow="blue"] {
  box-shadow: 0px 24px 80px rgba(115, 159, 243, 0.4);
}
.toolCard[shadow="yellow"] {
  box-shadow: 0px 24px 80px rgba(255, 194, 123, 0.4);
}
.toolCard[shadow="gray"] {
  box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.3);
}
