.gallery {
  margin-top: 117px;
  margin-bottom: 117px;
  @media (max-width: 767.98px) {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}
.sliderWrap {
  @media (max-width: 767.98px) {
    margin-top: 24px;
  }
}
