@import "/styles/variables";

.footer {
  border-top: 2px solid #e7e9ed;
  padding-top: 64px;
  padding-bottom: 80px;
}
.info {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    color: $dark-08;
  }
  a {
    color: $dark;
  }
  @media (max-width: 767.98px) {
    flex-direction: column;
    align-items: flex-start;
    p:last-child {
      margin-top: 16px;
    }
  }
}
