.comparison {
  margin-top: 126px;
  .comparison__header {
    margin-bottom: 40px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.number-control-wrap {
  margin-top: 80px;
  margin-bottom: 24px;
  @media (max-width: 767.98px) {
    margin-top: 48px;
  }
}
