@import "/styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 767.98px) {
    flex-direction: column;
  }
}
.title {
  display: flex;
  position: relative;
  @media (max-width: 767.98px) {
    flex-wrap: wrap;
    margin-bottom: 16px;
    width: 100%;
  }
  &__img {
    width: 77px;
    height: 77px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__text {
    display: flex;
    align-items: center;
    margin: 0 0 0 16px;
    font-size: 40px;
    line-height: 40px;
    color: $dark;
  }
}
.buttons {
  display: flex;
  a:first-child {
    margin-right: 8px;
  }
  // gap: 8px;
}

.achievement {
  margin-top: -56px;
  @media (max-width: 767.98px) {
    position: absolute;
    top: -56px;
    right: 0;
    margin: 0;
    // margin: 0;
    transform: scale3d(0.5, 0.5, 0.5);
  }
  // height: 104px;
  // width: 104px;
}
