@import "/styles/variables";

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  margin: 24px 0;

  @media (max-width: 767.98px) {
    font-size: 32px;
    line-height: 44px;
  }
}
