@import "/styles/variables";

.card {
  box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.3);
  transition: box-shadow 0.32s ease-in-out;
  border-radius: 32px;
  padding: 32px;
  height: 100%;
  // margin-bottom: 32px;
  &:hover {
    box-shadow: 0px 8px 32px rgba(194, 194, 218, 0.5);
  }
  &:nth-child(3) {
    margin-top: 32px;
  }
}
.type {
  margin-top: 16px;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: $dark;
}
.title {
  font-size: 24px;
  line-height: 30px;
  color: $dark;
  margin-top: 16px;
}
.link {
  margin-top: 24px;
  margin-bottom: 23px;
}
