@import "/styles/variables";

.exploreToolsCard {
  background: #ecebff;
  border-radius: 24px;
  width: 184px;
  // height: 143px;
  padding: 24px 24px 0px 24px;
  overflow: hidden;

  &__text {
    font-size: 24px;
    line-height: 30px;
    color: $purple-active;
  }

  &__image {
    color: $purple-active;
  }
}
