$dark: #141446;
$dark-02: #43436b;
$dark-03: #727290;
$dark-04: #a1a1b5;
$dark-05: #d5d5e2;
$dark-06: #f8f8f8;
$light-dark: rgba(56, 56, 56, 0.3);
$purple-active: #8381ee;
$purple-hover: #6b4cf6;
$purple-04: #cac9ff;
$orange: #ff905d;
$orange-01: rgba(255, 165, 123, 0.6);
$orange-02: #fff4e9;
$light: #f3f3fb;
$pink-hover: #fa326e;

// custom
$dark-07: #f8f9fb;
$dark-08: #929292;
