html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.mt-sm {
  margin-top: 24px;
}
.mb-sm {
  margin-bottom: 24px;
}
.ml-sm {
  margin-left: 24px;
}
.mr-sm {
  margin-right: 24px;
}

.mt-lg {
  margin-top: 48px;
}
.mb-lg {
  margin-bottom: 48px;
}
.ml-lg {
  margin-left: 48px;
}
.mr-lg {
  margin-right: 48px;
}

@media (min-width: 1400px) {
  .container.custom-container {
    max-width: 1248px;
  }
}
