@import "/styles/variables";
html,
body {
  padding: 0;
  margin: 0;
  font-family: CeraPro, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $dark;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link,
span.link {
  font-size: 16px;
  line-height: 20px;
  color: $purple-active;
}

button {
  outline-color: $dark;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-wrap-row {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-items-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.mt-xs {
  margin-top: 8px;
}
.mb-xs {
  margin-bottom: 8px;
}
.ml-xs {
  margin-left: 8px;
}
.mr-xs {
  margin-right: 8px;
}

.mt-sm {
  margin-top: 16px;
}
.mb-sm {
  margin-bottom: 16px;
}
.ml-sm {
  margin-left: 16px;
}
.mr-sm {
  margin-right: 16px;
}

.mt-md {
  margin-top: 24px;
}
.mb-md {
  margin-bottom: 24px;
}
.ml-md {
  margin-left: 24px;
}
.mr-md {
  margin-right: 24px;
}

.mt-lg {
  margin-top: 48px;
}
.mb-lg {
  margin-bottom: 48px;
}
.ml-lg {
  margin-left: 48px;
}
.mr-lg {
  margin-right: 48px;
}

.mt-xlg {
  margin-top: 80px;
}

.xs-hidden {
  @media (max-width: 767.98px) {
    display: none;
  }
}
.xl-hidden {
  @media (max-width: 1200px) {
    display: none;
  }
}

@media (min-width: 1400px) {
  .container.custom-container {
    max-width: 1248px;
  }
}

// animations
.item-enter {
  // opacity: 0;
  transform: translateY(100%);
  // visibility: visible;
}
.item-enter-active {
  transform: translateY(0);
  transition: transform 1s ease-in;
  // opacity: 1;
  // transition: opacity 500ms ease-in;
}
.item-exit {
  transform: translateY(0);
}
.item-exit-active {
  transform: translateY(100%);
  transition: transform 1s ease-in;
}
