html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
$dark: #43436b;

.flex {
  display: flex;
}

.mt-sm {
  margin-top: 24px;
}
.mb-sm {
  margin-bottom: 24px;
}
.ml-sm {
  margin-left: 24px;
}
.mr-sm {
  margin-right: 24px;
}

@media (min-width: 1400px) {
  .container.custom-container {
    max-width: 1248px;
  }
}
